<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            display: flex;
            flex-direction: row;
            border: 1px solid black;
            padding: 2px;
            border: 50px;
        }
        form {
            display: flex;
            flex-direction: column;
            padding: 5px;
            margin: 5px;;
            background-color: darkcyan;
        }
        input {
            flex-grow: 2;
            border: none;
            padding: 5px;

        }
    </style>
</head>
<body>
    <section class = "container">
        <form action = "/sha-256" method = "POST" enctype = "multipart/form-data">
            <input type = "file" name = "file">
            <input type = "submit" value = "Upload">
        </form>
    </section>
</body>
</html>